.hm-about {
    background-color: #f4f4f4;
    margin-top: 45px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 140px;
}

.about-img {
    border-radius: 24px 0;
    object-fit: cover;
    height: auto;
    width: 486px;
}

.about-title {
    font-size: 38px;
    font-weight: 600;
}

.about-desc {
    font-size: 22px;
    font-weight: 400;
    margin: 32px 0 52px;
}

@media only screen and (max-width: 1200px) {
    .about-container {
        gap: 40px;
    }
}

@media only screen and (max-width: 1080px) {
    .about-title {
        font-size: 34px;
    }

    .about-desc {
        font-size: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .about-img {
        width: 40%;
    }

    
    .about-desc {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .hm-about {
        margin-top: 0;
    }

    .about-title {
        font-size: 30px;
    }

    .about-container {
        flex-direction: column;
    }

    .about-img {
        height: 272px;
        width: 100%;
    }

    .banner-button {
        padding: 18px 24px;
    }
}

@media only screen and (max-width: 480px) {
    .about-title {
        font-size: 26px;
    }

    .about-desc {
        font-size: 16px;
    }
}