.choose-title {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

.card-wrapper {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 60px;
}

.card-item {
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 16px 48px rgba(112, 144, 176, 0.16);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 65px 45px;
    width: 32.3%;
}

.icon-wrapper {
    height: 120px;
    position: relative;
    width: 120px;
}

.card-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    height: 100%;
    opacity: .1;
    width: 100%;
}

.card-title {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.card-desc {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 1080px) {
    .choose-title {
        font-size: 34px;
    }

    .card-title {
        min-height: 61px;
    }
}

@media only screen and (max-width: 992px) {
    .card-item {
        padding: 45px 25px;
    }

    .card-title {
        font-size: 20px;
        min-height: 56px;
    }

    .card-desc {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .choose-title {
        font-size: 30px;
    }

    .card-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .card-item {
        padding: 45px;
        width: 80%;
    }

    .card-title {
        min-height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .choose-title {
        font-size: 26px;
    }

    .card-item {
        width: 100%;
    }
}